In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
#finding the len of the set
print("The length of set it_companies is:" ,len(it_companies))

The length of set it_companies is: 7

In [3]:
it_companies={'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add("Twitter")
#adding the Twitter to given set
print(it_companies)

{'Amazon', 'Facebook', 'Apple', 'Oracle', 'IBM', 'Microsoft', 'Twitter', 'Google'}

In [8]:
it_companies={'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
#multiple It_companies
IT_companies={'Wipro','TCS'}
#adding multiple IT_companies to set
it_companies.update(IT_companies)
print(it_companies)

{'Amazon', 'Apple', 'IBM', 'TCS', 'Google', 'Facebook', 'Wipro', 'Microsoft', 'Oracle'}

In [4]:
it_companies={'Amazon', 'Apple', 'IBM', 'TCS', 'Google', 'Facebook', 'Wipro', 'Microsoft', 'Oracle'}
# removing company from set
it_companies.remove("TCS")
print(it_companies)

{'Facebook', 'Amazon', 'Google', 'Apple', 'Oracle', 'Microsoft', 'Wipro', 'IBM'}

In [ ]:
#Difference between remove and discard, 
#Remove is to remove the item from list, if the specified item is not present, it gives and error.
#Discard does not gives an error if the specified item is not present while removing it.

In [7]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
join= A.union(B)
#joining two sets
print(join)

{19, 20, 22, 24, 25, 26, 27, 28}

In [9]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
#intersecting the two sets
intersect=A.intersection(B)
print(intersect)

{19, 20, 22, 24, 25, 26}

In [12]:
#finding if a is subset B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.issubset(B))

True

In [13]:
#finding disoint sets A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.isdisjoint(B))

False

In [2]:
A = {19, 22, 24, 20, 25, 26} 
B = {19, 22, 20, 25, 26, 24, 28, 27} 
#join A with B 
A.update(B) 
print(A) 
#join B with A 
B.update(A)
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [3]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# symmetric difference update
A.symmetric_difference_update(B)
print(A)

{27, 28}

In [1]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# deleting set A
del A
print(A)
# deleting set B
del B
print(B)

NameError: name 'A' is not defined

In [3]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#converting ages to set
converted_set=set(ages)
print(converted_set)
#length of the list
print(len(ages))
#length of the set
print(len(converted_set))
#comparing the length of list and set
len(ages)==len(converted_set)

{19, 20, 22, 24, 25, 26}
10
6

False